In [1]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/gapminder2007.csv')
df

                country         pop continent  lifeExp     gdpPercap
0           Afghanistan  31889923.0      Asia   43.828    974.580338
1               Albania   3600523.0    Europe   76.423   5937.029526
2               Algeria  33333216.0    Africa   72.301   6223.367465
3                Angola  12420476.0    Africa   42.731   4797.231267
4             Argentina  40301927.0  Americas   75.320  12779.379640
..                  ...         ...       ...      ...           ...
137             Vietnam  85262356.0      Asia   74.249   2441.576404
138  West Bank and Gaza   4018332.0      Asia   73.422   3025.349798
139         Yemen, Rep.  22211743.0      Asia   62.698   2280.769906
140              Zambia  11746035.0    Africa   42.384   1271.211593
141            Zimbabwe  12311143.0    Africa   43.487    469.709298

[142 rows x 5 columns]

In [2]:
#df.to_dict('records')
[{"name": column, "id": column} for column in df.columns]

[{'name': 'country', 'id': 'country'},
 {'name': 'pop', 'id': 'pop'},
 {'name': 'continent', 'id': 'continent'},
 {'name': 'lifeExp', 'id': 'lifeExp'},
 {'name': 'gdpPercap', 'id': 'gdpPercap'}]

In [4]:
from collections import OrderedDict
data = OrderedDict(
    [
        ("Date", ["2015-01-01", "2015-10-24", "2016-05-10", "2017-01-10", "2018-05-10", "2018-08-15"]),
        ("Region", ["Montreal", "Toronto", "New York City", "Miami", "San Francisco", "London"]),
        ("Temperature", [1, -20, 3.512, 4, 10423, -441.2]),
        ("Humidity", [10, 20, 30, 40, 50, 60]),
        ("Pressure", [2, 10924, 3912, -10, 3591.2, 15]),
    ]
)
data

OrderedDict([('Date',
              ['2015-01-01',
               '2015-10-24',
               '2016-05-10',
               '2017-01-10',
               '2018-05-10',
               '2018-08-15']),
             ('Region',
              ['Montreal',
               'Toronto',
               'New York City',
               'Miami',
               'San Francisco',
               'London']),
             ('Temperature', [1, -20, 3.512, 4, 10423, -441.2]),
             ('Humidity', [10, 20, 30, 40, 50, 60]),
             ('Pressure', [2, 10924, 3912, -10, 3591.2, 15])])

In [8]:
df = pd.DataFrame(
    OrderedDict([(name, col_data * 10) for (name, col_data) in data.items()])
)
df

          Date         Region  Temperature  Humidity  Pressure
0   2015-01-01       Montreal        1.000        10       2.0
1   2015-10-24        Toronto      -20.000        20   10924.0
2   2016-05-10  New York City        3.512        30    3912.0
3   2017-01-10          Miami        4.000        40     -10.0
4   2018-05-10  San Francisco    10423.000        50    3591.2
5   2018-08-15         London     -441.200        60      15.0
6   2015-01-01       Montreal        1.000        10       2.0
7   2015-10-24        Toronto      -20.000        20   10924.0
8   2016-05-10  New York City        3.512        30    3912.0
9   2017-01-10          Miami        4.000        40     -10.0
10  2018-05-10  San Francisco    10423.000        50    3591.2
11  2018-08-15         London     -441.200        60      15.0
12  2015-01-01       Montreal        1.000        10       2.0
13  2015-10-24        Toronto      -20.000        20   10924.0
14  2016-05-10  New York City        3.512        30    3912.0
15  2017-01-10          Miami        4.000        40     -10.0
16  2018-05-10  San Francisco    10423.000        50    3591.2
17  2018-08-15         London     -441.200        60      15.0
18  2015-01-01       Montreal        1.000        10       2.0
19  2015-10-24        Toronto      -20.000        20   10924.0
20  2016-05-10  New York City        3.512        30    3912.0
21  2017-01-10          Miami        4.000        40     -10.0
22  2018-05-10  San Francisco    10423.000        50    3591.2
23  2018-08-15         London     -441.200        60      15.0
24  2015-01-01       Montreal        1.000        10       2.0
25  2015-10-24        Toronto      -20.000        20   10924.0
26  2016-05-10  New York City        3.512        30    3912.0
27  2017-01-10          Miami        4.000        40     -10.0
28  2018-05-10  San Francisco    10423.000        50    3591.2
29  2018-08-15         London     -441.200        60      15.0
30  2015-01-01       Montreal        1.000        10       2.0
31  2015-10-24        Toronto      -20.000        20   10924.0
32  2016-05-10  New York City        3.512        30    3912.0
33  2017-01-10          Miami        4.000        40     -10.0
34  2018-05-10  San Francisco    10423.000        50    3591.2
35  2018-08-15         London     -441.200        60      15.0
36  2015-01-01       Montreal        1.000        10       2.0
37  2015-10-24        Toronto      -20.000        20   10924.0
38  2016-05-10  New York City        3.512        30    3912.0
39  2017-01-10          Miami        4.000        40     -10.0
40  2018-05-10  San Francisco    10423.000        50    3591.2
41  2018-08-15         London     -441.200        60      15.0
42  2015-01-01       Montreal        1.000        10       2.0
43  2015-10-24        Toronto      -20.000        20   10924.0
44  2016-05-10  New York City        3.512        30    3912.0
45  2017-01-10          Miami        4.000        40     -10.0
46  2018-05-10  San Francisco    10423.000        50    3591.2
47  2018-08-15         London     -441.200        60      15.0
48  2015-01-01       Montreal        1.000        10       2.0
49  2015-10-24        Toronto      -20.000        20   10924.0
50  2016-05-10  New York City        3.512        30    3912.0
51  2017-01-10          Miami        4.000        40     -10.0
52  2018-05-10  San Francisco    10423.000        50    3591.2
53  2018-08-15         London     -441.200        60      15.0
54  2015-01-01       Montreal        1.000        10       2.0
55  2015-10-24        Toronto      -20.000        20   10924.0
56  2016-05-10  New York City        3.512        30    3912.0
57  2017-01-10          Miami        4.000        40     -10.0
58  2018-05-10  San Francisco    10423.000        50    3591.2
59  2018-08-15         London     -441.200        60      15.0

In [5]:
import os
os.environ['PATH']

'/usr/local/bin:/vscode/vscode-server/bin/linux-x64/af28b32d7e553898b2a91af498b1fb666fdebe0c/bin/remote-cli:/home/vscode/.local/bin:/usr/local/python/current/bin:/usr/local/py-utils/bin:/usr/local/share/nvm/current/bin:/usr/local/bin:/usr/local/python/current/bin:/usr/local/py-utils/bin:/usr/local/share/nvm/current/bin:/usr/local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/home/vscode/.local/bin:/vscode/vscode-server/bin/linux-x64/af28b32d7e553898b2a91af498b1fb666fdebe0c/bin/remote-cli:/home/vscode/.local/bin:/usr/local/python/current/bin:/usr/local/py-utils/bin:/usr/local/share/nvm/current/bin:/usr/local/bin:/usr/local/python/current/bin:/usr/local/py-utils/bin:/usr/local/share/nvm/current/bin:/usr/local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/home/vscode/.local/bin'

In [7]:
import socket
myip = socket.gethostbyname(socket.gethostname())

print(f'æˆ‘çš„ipæ˜¯{myip}')

æˆ‘çš„ipæ˜¯172.17.0.2

In [ ]:
from dash import Dash, dcc, html, Input, Output
import plotly.graph_objects as go

app = Dash(__name__)


app.layout = html.Div([
    html.H4('Interactive color selection with simple Dash example'),
    html.P("Select color:"),
    dcc.Dropdown(
        id="dropdown",
        options=['Gold', 'MediumTurquoise', 'LightGreen'],
        value='Gold',
        clearable=False,
    ),
    dcc.Graph(id="graph"),
])


@app.callback(
    Output("graph", "figure"), 
    Input("dropdown", "value"))
def display_color(color):
    fig = go.Figure(
        data=go.Bar(y=[2, 3, 1], # replace with your own data source
                    marker_color=color))
    return fig


app.run_server(debug=True)